<section class="gradient-custom cus-bg" >
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100" style="padding-bottom: 1.5rem!important;">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;height: 500px;">
                    <form action="/admin/login" method="post">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-5 mt-md-4 pb-5">

                                <h2 class="fw-bold mb-2 text-uppercase">Admin Login</h2>
                                {{#if errMsg}}
                                    <p class="text-danger">{{errMsg}}</p>
                                {{else}}
                                    <p class="text-whit e-50 mb-5">Please enter your login and password!</p>
                                {{/if}}

                                <div class="form-outline form-white mb-4">
                                    <input type="email" id="typeEmailX" class="form-control form-control-lg" name="email" />
                                    <label class="form-label" for="typeEmailX">Email</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input
                                        type="password"
                                        id="typePasswordX"
                                        class="form-control form-control-lg"
                                        name="password"
                                    />
                                    <label class="form-label" for="typePasswordX">Password</label>
                                </div>

                                <p class="small"><a class="text-white-50" href="#!">Forgot password?</a></p>

                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>